<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>test05</title>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script>
        var myapp = angular.module("myapp", ["ionic"]);
        myapp.controller("myCtrl", function ($scope) {
            $scope.products = [
                {
                    "name": "news01",
                    "category": "news类别01",
                    "price": 100,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB1_50x50.jpg"
                },
                {
                    "name": "news02",
                    "category": "news类别01",
                    "price": 120,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB2_50x50.jpg"
                },
                {
                    "name": "news0301",
                    "category": "news类别01",
                    "price": 80,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB3_50x50.jpg"
                },
                {
                    "name": "news0302",
                    "category": "news类别01",
                    "price": 85,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB4_50x50.jpg"
                },
                {
                    "name": "news0303",
                    "category": "news类别01",
                    "price": 820,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB1_50x50.jpg"
                },
                {
                    "name": "news04",
                    "category": "news类别02",
                    "price": 180,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB2_50x50.jpg"
                },
                {
                    "name": "news05",
                    "category": "news类别02",
                    "price": 650,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB3_50x50.jpg"
                },
                {
                    "name": "news06",
                    "category": "news类别02",
                    "price": 350,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB4_50x50.jpg"
                },
                {
                    "name": "news07",
                    "category": "news类别03",
                    "price": 300,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB1_50x50.jpg"
                },
                {
                    "name": "news08",
                    "category": "news类别03",
                    "price": 310,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB2_50x50.jpg"
                },
                {
                    "name": "news09",
                    "category": "news类别04",
                    "price": 270,
                    "desc": "2016流行新款",
                    "imgsrc": "images/TB3_50x50.jpg"
                }
            ];
            $scope.config={
                showDelete:false,
                showReOlder:false
            };
            $scope.delete=function(product){
                $scope.products.splice($scope.products.indexOf(product),1);
            };
            $scope.onReorder=function(product,from,to){
                $scope.products.splice(from,1);
                $scope.products.splice(to,0,product);
            };
            $scope.dislike=function(product){
                $scope.products.splice($scope.products.indexOf(product),1);
            };
        });
    </script>
</head>
<body ng-app="myapp" ng-controller="myCtrl">

<ion-header-bar class="bar-assertive item-input-inset">
    <button class="button button-clear icon-left ion-minus-circled" ng-click="config.showDelete=!config.showDelete;config.showReOlder=false;"></button>
    <div class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="请输入搜索关键字"/>
    </div>
    <button class="button button-clear icon-right ion-navicon" ng-click="config.showReOlder=!config.showReOlder;config.showDelete=false;">

    </button>
</ion-header-bar>

<!-- content -->
<ion-content class="has-header has-footer">
    <ion-list show-delete="config.showDelete" show-reorder="config.showReOlder">
        <ion-item class="item-avatar item-remove-animate" ng-repeat="product in products">
            <img ng-src="{{product.imgsrc}}">
            <h3>{{product.name}}</h3>
            <p>{{product.desc}}</p>
            <ion-delete-button class="ion-minus-circled" ng-click="delete(product)"></ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="onReorder(product,$fromIndex,$toIndex)"></ion-reorder-button>
            <ion-option-button class="ion-android-delete button-assertive" ng-click="dislike(product)">不感兴趣</ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>

<!-- footer -->
<ion-footer-bar class="bar-assertive">
    <h1 class="title">孙颢科技公司负责维护</h1>
</ion-footer-bar>
</body>
</html>