@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
input,img{border:none;}
#clear{clear:both;}

body{background:#0d1424 url(../images/body-bg.jpg) no-repeat center top;}
#warp{width:980px;margin:0 auto;}
header{height:119px;}
header a{display:block;padding-top:34px;}
nav{height:40px;background:#888;padding-left:27px;box-shadow:0 7px 10px rgba(0,0,0,0.50);border-radius:7px;}
nav .icon{display:none;padding:10px;}
nav li{height:40px;line-height:40px;padding-right:31px;float:left;}
nav li a{font-size:14px;font-family:arial;color:#fff;}
nav ul{float:left;}
nav form{float:right;padding-right:10px;padding-top:7px;position:relative;}
nav form input{border-radius:4px;background:#fff;font-size:12px;padding:0 11px;width:118px;color:#adabb0;height:27px;line-height:27px;transition:all 1s;}
article{background:#fff;width:600px;float:left;padding:0 35px;border-radius:7px;margin-top:30px;}
article h2{color:#060608 font-size:20px;font-family:arial;padding-top:28px;height:33px;height:33px;}
article time{color:#060608;font-size:12px;line-height:26px;height:26px;}
article pic{font-size:0;}
article p{line-height:21px;font-size:14px;padding-top:27px;color:#636260;}
article video{width:100%}
aside{float:right;width:240px;padding:0 20px;margin-top:30px;}
aside dl{margin-bottom:27px;box-shadow:0 7 10px rgba(0,0,0,0.50);background:#fff;border-radius:7px;padding:0 20px 10px 20px;}
aside dl dt{fo`nt-size:16px;font-weight:bolder;color:#000;line-height:36px;height:36px;}
aside dl dd a{line-height:30px;height:30;display:block;color:#000;font-size:14px;}
aside dl dd{border-top:#dedede solid 1px;}
footer{font-size:14px;padding:20px 0;text-align:center;color:#C0C0C0;}


