html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 100%; font-family: "Droid Serif", serif; color: #7f8c97; background-color: #e9f0f5; }

a { color: #acb7c0; text-decoration: none; font-family: "Open Sans", sans-serif; }

img { max-width: 100%; }

h1, h2 { font-family: "Open Sans", sans-serif; font-weight: bold; }

.text--transparent { fill: transparent; }

.anim-shape { -webkit-transform-origin: 0 150px; transform-origin: 0 150px; -webkit-transform: scale(0, 1) translate(0, 0); transform: scale(0, 1) translate(0, 0); -webkit-animation: moving-panel 3s infinite alternate; animation: moving-panel 3s infinite alternate; }
.colortext .anim-shape:nth-child(1) { fill: #1e7332; }
.colortext .anim-shape:nth-child(2) { fill: #166973; }
.colortext .anim-shape:nth-child(3) { fill: #65bfa6; }
.colortext .anim-shape:nth-child(4) { fill: #f2cd5c; }
.colortext .anim-shape:nth-child(5) { fill: #f26444; }

.shadow { -webkit-transform: translate(10px, 10px); transform: translate(10px, 10px); }

.anim-shape--shadow { fill: #000; fill-opacity: 0.2; }

@-webkit-keyframes moving-panel { 100% { -webkit-transform: scale(1, 1) translate(20px, 0); transform: scale(1, 1) translate(20px, 0); } }
@keyframes moving-panel { 100% { -webkit-transform: scale(1, 1) translate(20px, 0); transform: scale(1, 1) translate(20px, 0); } }
canvas { width: 100px; height: 100px; position: absolute; left: 0; top: 0; z-index: 3; }

svg { width: 100%; height: 100px; position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; }

.cd-container { width: 90%; max-width: 1170px; margin: 0 auto; }
.cd-container::after { content: ''; display: table; clear: both; }

#cd-timeline { position: relative; padding: 2em 0; margin-top: 2em; margin-bottom: 2em; }
#cd-timeline::before { /* this is the vertical line */ content: ''; position: absolute; top: 0; left: 22px; height: 100%; width: 4px; background: #d7e4ed; }
@media only screen and (max-width: 420px) { #cd-timeline::before { display: none; } }
@media only screen and (min-width: 1170px) { #cd-timeline { margin-top: 3em; margin-bottom: 3em; }
  #cd-timeline::before { left: 50%; margin-left: -2px; } }

.cd-timeline-block { position: relative; margin: 2em 0; overflow: hidden; *zoom: 1; }
.cd-timeline-block:first-child { margin-top: 0; }
.cd-timeline-block:last-child { margin-bottom: 0; }
@media only screen and (min-width: 1170px) { .cd-timeline-block { margin: 4em 0; }
  .cd-timeline-block:first-child { margin-top: 0; }
  .cd-timeline-block:last-child { margin-bottom: 0; } }

.cd-timeline-img { position: absolute; top: 30%; left: 5px; width: 40px; height: 40px; border-radius: 50%; box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }
.cd-timeline-img img { display: block; position: relative; border-radius: 50%; }
.cssanimations .cd-timeline-img.is-hidden { visibility: hidden; }
.cssanimations .cd-timeline-img.bounce-in { visibility: visible; -moz-animation: cd-bounce-1 0.6s; -webkit-animation: cd-bounce-1 0.6s; animation: cd-bounce-1 0.6s; }
@media only screen and (min-width: 1170px) { .cd-timeline-img { width: 60px; height: 60px; left: 50%; margin-left: -30px; /* Force Hardware Acceleration in WebKit */ -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden; } }
@media only screen and (max-width: 420px) { .cd-timeline-img { display: none; } }

.cd-timeline-content { transition: all .5s ease; position: relative; margin-left: 60px; border-radius: 0.25em; padding: 1em; box-shadow: 0 3px 0 #d7e4ed; overflow: hidden; *zoom: 1; }
.cd-timeline-content h2 { color: #303e49; padding: 1em .5em; }
.cd-timeline-content p { padding: 0 1em; line-height: 1.6; }
.cd-timeline-content .cd-read-more { float: right; padding: .8em 1em; margin: 1em; background: #acb7c0; color: #ffffff; border-radius: 0.25em; }
.cd-timeline-content .cd-read-more:hover { background-color: #bac4cb; }
.cd-timeline-content .layer-1 { background-color: rgba(255, 255, 255, 0.5); width: 100%; position: absolute; left: 0; top: 0; border-radius: 10px; z-index: -1; }
.cd-timeline-content .layer-3 { width: 100%; position: absolute; left: 0; top: 0; }
.cd-timeline-content .layer-3 .cd-date { width: 100%; padding-right: 1em; padding-top: 1em; text-align: right; }
.cd-timeline-content .layer-4 { overflow: hidden; *zoom: 1; }
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date { font-size: 13px; font-size: 0.8125rem; }
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date { display: inline-block; }
.cd-timeline-content::before { content: ''; position: absolute; top: 16px; right: 100%; height: 0; width: 0; border: 7px solid transparent; border-right: 7px solid #ffffff; }
.cssanimations .cd-timeline-content.is-hidden { visibility: hidden; }
.cssanimations .cd-timeline-content.bounce-in { visibility: visible; -moz-animation: cd-bounce-2 0.6s; -webkit-animation: cd-bounce-2 0.6s; animation: cd-bounce-2 0.6s; }
@media only screen and (min-width: 768px) { .cd-timeline-content h2 { font-size: 20px; font-size: 1.25rem; }
  .cd-timeline-content p { font-size: 16px; font-size: 1rem; }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date { font-size: 14px; font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) { .cd-timeline-content { margin-left: 0; padding: 1.6em; width: 45%; }
  .cd-timeline-content::before { top: 24px; left: 100%; border-color: transparent; border-left-color: #ffffff; }
  .cd-timeline-content .cd-read-more { float: left; }
  .cd-timeline-content .cd-date { position: absolute; width: 100%; left: 122%; top: 6px; font-size: 16px; font-size: 1rem; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content { float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before { top: 24px; left: auto; right: 100%; border-color: transparent; border-right-color: #ffffff; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more { float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date { left: auto; right: 122%; text-align: right; } }
@media only screen and (max-width: 420px) { .cd-timeline-content { margin-left: 0; } }

@-moz-keyframes cd-bounce-1 { 0% { opacity: 0; -moz-transform: scale(0.5); transform: scale(0.5); }
  60% { opacity: 1; -moz-transform: scale(1.2); transform: scale(1.2); }
  100% { -moz-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes cd-bounce-1 { 0% { opacity: 0; -webkit-transform: scale(0.5); transform: scale(0.5); }
  60% { opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes cd-bounce-1 { 0% { opacity: 0; -moz-transform: scale(0.5); -ms-transform: scale(0.5); -webkit-transform: scale(0.5); transform: scale(0.5); }
  60% { opacity: 1; -moz-transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@-moz-keyframes cd-bounce-2 { 0% { opacity: 0; -moz-transform: translateX(-100px); transform: translateX(-100px); }
  60% { opacity: 1; -moz-transform: translateX(20px); transform: translateX(20px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2 { 0% { opacity: 0; -webkit-transform: translateX(-100px); transform: translateX(-100px); }
  60% { opacity: 1; -webkit-transform: translateX(20px); transform: translateX(20px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes cd-bounce-2 { 0% { opacity: 0; -moz-transform: translateX(-100px); -ms-transform: translateX(-100px); -webkit-transform: translateX(-100px); transform: translateX(-100px); }
  60% { opacity: 1; -moz-transform: translateX(20px); -ms-transform: translateX(20px); -webkit-transform: translateX(20px); transform: translateX(20px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
@-moz-keyframes cd-bounce-2-inverse { 0% { opacity: 0; -moz-transform: translateX(100px); transform: translateX(100px); }
  60% { opacity: 1; -moz-transform: translateX(-20px); transform: translateX(-20px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2-inverse { 0% { opacity: 0; -webkit-transform: translateX(100px); transform: translateX(100px); }
  60% { opacity: 1; -webkit-transform: translateX(-20px); transform: translateX(-20px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes cd-bounce-2-inverse { 0% { opacity: 0; -moz-transform: translateX(100px); -ms-transform: translateX(100px); -webkit-transform: translateX(100px); transform: translateX(100px); }
  60% { opacity: 1; -moz-transform: translateX(-20px); -ms-transform: translateX(-20px); -webkit-transform: translateX(-20px); transform: translateX(-20px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.cd-nav-trigger { position: fixed; z-index: 3; top: 12px; right: 5%; height: 44px; width: 44px; overflow: hidden; text-indent: 100%; white-space: nowrap; -moz-transition: -moz-transform 0.2s; -o-transition: -o-transform 0.2s; -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }
.cd-nav-trigger span { position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); width: 32px; height: 3px; background-color: black; }
.cd-nav-trigger span::before, .cd-nav-trigger span:after { content: ''; position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: inherit; -moz-transform: translateZ(0); -ms-transform: translateZ(0); -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transition: -moz-transform 0.2s, width 0.2s; -o-transition: -o-transform 0.2s, width 0.2s; -webkit-transition: -webkit-transform 0.2s, width 0.2s; transition: transform 0.2s, width 0.2s; }
.cd-nav-trigger span::before { -moz-transform-origin: right top 50%; -ms-transform-origin: right top 50%; -webkit-transform-origin: right top 50%; transform-origin: right top 50%; -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); }
.cd-nav-trigger span::after { -moz-transform-origin: right bottom 50%; -ms-transform-origin: right bottom 50%; -webkit-transform-origin: right bottom 50%; transform-origin: right bottom 50%; -moz-transform: translateY(10px); -ms-transform: translateY(10px); -webkit-transform: translateY(10px); transform: translateY(10px); }
.cd-nav-trigger:hover { -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.cd-nav-trigger:hover span::after, .cd-nav-trigger:hover span::before { width: 50%; }
.cd-nav-trigger:hover span::before { -moz-transform: translateX(1px) translateY(-3px) rotate(45deg); -ms-transform: translateX(1px) translateY(-3px) rotate(45deg); -webkit-transform: translateX(1px) translateY(-3px) rotate(45deg); transform: translateX(1px) translateY(-3px) rotate(45deg); }
.cd-nav-trigger:hover span::after { -moz-transform: translateX(-1px) translateY(3px) rotate(-45deg); -ms-transform: translateX(-1px) translateY(3px) rotate(-45deg); -webkit-transform: translateX(-1px) translateY(3px) rotate(-45deg); transform: translateX(-1px) translateY(3px) rotate(-45deg); }
@media only screen and (min-width: 1170px) { .cd-nav-trigger { top: 38px; } }

.cd-nav-container { position: fixed; z-index: 4; top: 0; right: 0; width: 80%; height: 100%; overflow-y: auto; background-color: #ffffff; /* Force Hardware Acceleration in WebKit */ -moz-transform: translateZ(0); -ms-transform: translateZ(0); -webkit-transform: translateZ(0); transform: translateZ(0); -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%); transform: translateX(100%); -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0.4s; -o-transition: -o-transform 0.4s 0s, box-shadow 0s 0.4s; -webkit-transition: -webkit-transform 0.4s, box-shadow 0s; -webkit-transition-delay: 0s, 0.4s; transition: transform 0.4s 0s, box-shadow 0s 0.4s; }
.cd-nav-container.is-visible { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); -webkit-overflow-scrolling: touch; box-shadow: -4px 0 30px rgba(0, 0, 0, 0.2); -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0s; -o-transition: -o-transform 0.4s 0s, box-shadow 0s 0s; -webkit-transition: -webkit-transform 0.4s, box-shadow 0s; -webkit-transition-delay: 0s, 0s; transition: transform 0.4s 0s, box-shadow 0s 0s; }
.cd-nav-container header { padding: 1.5em 0 0 6.25%; height: 68px; position: relative; }
.cd-nav-container h3 { font-size: 1.6rem; font-weight: bold; font-family: "Open Sans", sans-serif; text-transform: uppercase; color: #5c4b51; }
@media only screen and (min-width: 768px) { .cd-nav-container { width: 70%; }
  .cd-nav-container header { height: 116px; padding-top: 3em; } }

.cd-close-nav { /* 'X' close icon */ position: absolute; height: 44px; width: 44px; /* set the right position value so that it overlaps the .cd-nav-trigger*/ right: 6.25%; top: 50%; bottom: auto; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); /* image replacement */ overflow: hidden; text-indent: 100%; white-space: nowrap; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.cd-close-nav::after, .cd-close-nav::before { /* lines of 'X' icon */ content: ''; position: absolute; height: 3px; width: 32px; left: 50%; top: 50%; background-color: #5c4b51; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.cd-close-nav::after { -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg); -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg); transform: translateX(-50%) translateY(-50%) rotate(45deg); }
.cd-close-nav::before { -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg); -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg); transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
.no-touch .cd-close-nav:hover { opacity: .8; }
@media only screen and (min-width: 768px) { .cd-close-nav { right: 7.14%; } }

.cd-nav { overflow: hidden; *zoom: 1; background-color: #f2f2f2; }
.cd-nav li { width: 50%; float: left; height: calc((100vh - 68px) / 3); min-height: 120px; border: 1px solid #ffffff; border-top: none; border-left: none; }
.cd-nav li:nth-of-type(2n) { border-right-width: 0; }
.cd-nav a { position: relative; display: block; width: 100%; height: 100%; text-align: center; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }
.cd-nav a:hover span { -moz-animation: cd-shock 0.3s; -webkit-animation: cd-shock 0.3s; animation: cd-shock 0.3s; }
.cd-nav li a:hover span *, .cd-nav li.cd-selected a span * { stroke: #ffffff; }
.cd-nav li a:hover em, .cd-nav li.cd-selected a em { color: #ffffff; }
.cd-nav li:first-of-type a:hover, .cd-nav li.cd-selected:first-of-type a { background-color: #9e87ce; }
.cd-nav li:nth-of-type(2) a:hover, .cd-nav li.cd-selected:nth-of-type(2) a { background-color: #5c4b51; }
.cd-nav li:nth-of-type(3) a:hover, .cd-nav li.cd-selected:nth-of-type(3) a { background-color: #e0cf75; }
.cd-nav li:nth-of-type(4) a:hover, .cd-nav li.cd-selected:nth-of-type(4) a { background-color: #f5b65a; }
.cd-nav li:nth-of-type(5) a:hover, .cd-nav li.cd-selected:nth-of-type(5) a { background-color: #f25f5c; }
.cd-nav li:nth-of-type(6) a:hover, .cd-nav li.cd-selected:nth-of-type(6) a { background-color: #8abeb2; }
.cd-nav span, .cd-nav em { position: absolute; }
.cd-nav span { top: calc(50% - 48px); left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); height: 48px; width: 48px; }
.cd-nav em { width: 100%; left: 0; top: calc(50% + 15px); color: #5c4b51; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
@media only screen and (min-width: 768px) { .cd-nav li { height: calc((100vh - 116px) / 3); min-height: 200px; }
  .cd-nav span { height: 64px; width: 64px; top: calc(50% - 56px); }
  .cd-nav em { font-size: 2.2rem; font-weight: 300; top: calc(50% + 21px); } }
@media only screen and (min-width: 1170px) { .cd-nav li { width: 33.33%; float: left; height: calc((100vh - 116px) / 2); min-height: 250px; }
  .cd-nav li:nth-of-type(2n) { border-right-width: 1px; }
  .cd-nav li:nth-of-type(3n) { border-right-width: 0; }
  .cd-nav em { font-size: 2.5rem; } }

@-moz-keyframes cd-shock { 0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  30% { -moz-transform: rotate(10deg); transform: rotate(10deg); }
  60% { -moz-transform: rotate(-10deg); transform: rotate(-10deg); }
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }
@-webkit-keyframes cd-shock { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  30% { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  60% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes cd-shock { 0% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  30% { -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  60% { -moz-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  100% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
.cd-overlay { position: fixed; height: 100%; width: 100%; top: 0; left: 0; cursor: pointer; background-color: rgba(0, 0, 0, 0.35); visibility: hidden; opacity: 0; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s; -o-transition: opacity 0.4s 0s, visibility 0s 0.4s; -webkit-transition: opacity 0.4s, visibility 0s; -webkit-transition-delay: 0s, 0.4s; transition: opacity 0.4s 0s, visibility 0s 0.4s; }
.cd-overlay.is-visible { opacity: 1; visibility: visible; -moz-transition: opacity 0.4s 0s, visibility 0s 0s; -o-transition: opacity 0.4s 0s, visibility 0s 0s; -webkit-transition: opacity 0.4s, visibility 0s; -webkit-transition-delay: 0s, 0s; transition: opacity 0.4s 0s, visibility 0s 0s; }

main { position: relative; height: 100vh; overflow-x: hidden; -moz-transition: -moz-transform 0.4s; -o-transition: -o-transform 0.4s; -webkit-transition: -webkit-transform 0.4s; transition: transform 0.4s; box-shadow: 0 0 30px #241d20; }
main.scale-down { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); }

.cd-section { position: absolute; z-index: 1; top: 0; left: 0; height: 100%; width: 100%; overflow-y: auto; -moz-transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%); transform: translateX(100%); -moz-transition: -moz-transform 0s 0.4s; -o-transition: -o-transform 0s 0.4s; -webkit-transition: -webkit-transform 0s; -webkit-transition-delay: 0.4s; transition: transform 0s 0.4s; }
.cd-section.cd-selected { position: relative; z-index: 2; -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); -moz-transition: -moz-transform 0.4s 0s; -o-transition: -o-transform 0.4s 0s; -webkit-transition: -webkit-transform 0.4s; -webkit-transition-delay: 0s; transition: transform 0.4s 0s; -webkit-overflow-scrolling: touch; }
.cd-section header { height: 100vh; background: #9e87ce; position: relative; }
.cd-section.projects header { background-color: #5c4b51; }
.cd-section.about header { background-color: #e0cf75; }
.cd-section.services header { background-color: #f5b65a; }
.cd-section.careers header { background-color: #f25f5c; }
.cd-section.contact header { background-color: #8abeb2; }
@media only screen and (min-width: 768px) { .cd-section { /* not 100vh to fix a small bug --> border visible otherwise */ header: 102vh; } }

.cd-title { position: relative; top: 48%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.cd-title .banneriframe { border-width: 0; height: 100%; width: 100%; }

.cd-content { padding: 4em 0; }

.movie .movie__card { position: relative; transition: .3s ease-out; }
.movie .movie__card .layer-1, .movie .movie__card .layer-2, .movie .movie__card .layer-3, .movie .movie__card .layer-4 { position: absolute; left: 0; top: 0; right: 0; bottom: 0; border-radius: 10px; }
.movie .movie__card .layer-1 { background-color: rgba(255, 255, 255, 0.5); width: 100%; }
.movie .movie__card .layer-2 { -webkit-transform: translateZ(15px); transform: translateZ(15px); }
.movie .movie__card .layer-3 { -webkit-transform: translateZ(25px); transform: translateZ(25px); }
.movie .movie__card .layer-4 { overflow: visible; -webkit-transform: translateZ(35px); transform: translateZ(35px); }

.svg-font { position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; font-size: 100px; font-size: 6.25rem; font-weight: bolder; text-transform: uppercase; letter-spacing: 8px; }
@media only screen and (max-width: 768px) { .svg-font { font-size: 80px; font-size: 5rem; } }
@media only screen and (max-width: 420px) { .svg-font { font-size: 50px; font-size: 3.125rem; } }

/*# sourceMappingURL=imsunhao.css.map */
